// COLORS
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$website-primary-color: #115B88;
$website-grey: #5D5D5A;
$border-color: #C5C5C5;
$body-background: $white;
$body-font-color: #3C3C39;

// ------------------------------------------------ //

// Good God this was hard to fix. Best way to see how it should be set up is by downloading an SCSS starter project.

@charset 'utf-8';

@import 'partials/foundation_settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// ------------------------------------------------ //

// FIXES FOUC
.no-js .top-bar-right .accordion{
  display:none;
}

// STANDARDIZED COMPONENTS
// @import 'partials/top_bar';
@import 'partials/slick';

// AIRSHIP COMPONENTS - Could be Improved
@import 'partials/airship-top-bar';

// Airshop
@import 'partials/airship-shop-settings';
@import 'partials/airship-products';
@import 'partials/airship-product';
@import 'partials/airship-add-to-cart';
@import 'partials/airship-added-to-cart-counter';
@import 'partials/airship-added-to-cart-status';
@import 'partials/airship-cart';
@import 'partials/airship-checkout';
@import 'partials/airship-receipt';

// Could be Improved
@import 'partials/form';

