<div class="row">
  <div class="large-12 columns">
    <div class="products clearfix">
      {{#each items}}
        <a href="{{slug}}" class="product-thumbnail">
          {{#if fields.product_image_temp}}
            <div class="product-thumbnail-image">
              <img src="{{#each fields.product_image_temp}}{{url}}{{/each}}" alt="{{product_title}}">
            </div>
          {{/if}}
          <div class="product-thumbnail-info">
            <h2>{{product_title}}</h2>
            <p class="price">
              {{#each product_variations}}
                {{#if @first}}
                  {{#if on_sale}}
                    <span class="sale-price">{{format_currency price "usd"}}</span>
                    <span class="original-price">{{format_currency sale_price "usd"}}</span>
                  {{else}}
                    <span class="original-price">{{format_currency price "usd"}}</span>
                  {{/if}}
                {{/if}}
              {{/each}}
            </p>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</div>