<div class="product">
  <div class="row">
    <div class="small-12 columns">
      <h1>{{product_title}}</h1>
      <h3 id='price'>
        {{#each product_variations}}
          {{#if @first}}
            {{#if on_sale}}
              <span class="strike-through">{{format_currency price "usd" "0"}}</span>
              {{format_currency sale_price "usd" "0"}}
            {{else}}
              {{format_currency price "usd" "0"}}
            {{/if}}
          {{/if}}
        {{/each}}
      </h3>
    </div>
    <div class="small-12 columns">
      <div class="product-image">
        <!-- <img src="/assets/media/variation-{{#each product_variations}}{{#if @first}}{{id}}{{/if}}{{/each}}.png" alt="{{product_title}}"> -->
      </div>
    </div>
    <div class="large-12 columns">
      <h3 class="notranslate show-for-large" id='price'>
        {{#each product_variations}}
          {{#if @first}}
            {{#if on_sale}}
              <span class="strike-through">{{format_currency price "usd" "0"}}</span>
              {{format_currency sale_price "usd" "0"}}
            {{else}}
              {{format_currency price "usd" "0"}}
            {{/if}}
          {{/if}}
        {{/each}}
      </h3>
      <p>
        {{#each product_variations}}
          {{#if @first}}
            {{product_variation_description}}
          {{/if}}
        {{/each}}
      </p>
      {{#each product_variations}}
        <div class="add-to-cart-button-container">
          <button
          id="add_to_cart_list"
          class="button-add-to-cart add-to-cart"
          data-aeroproduct-title="{{../product_title}}"
          data-aeroproduct-variation-title="{{product_variation_title}}"
          data-aeroproduct-variation-id="{{id}}"
          data-aeroproduct-id="{{aerostat_id}}"
          data-aeroproduct-price="{{price.usd}}"
          data-aeroproduct-quantity="1"
          data-aeroproduct-currency="usd">
          <span>Add to Cart</span>
          </button>
        </div>
      {{/each}}
    </div>
    <div class="airshop-status-area">
      <span class="airshop-status"></span>
    </div>
  </div>
</div>
