<div class="product">
  <div class="row">
    <div class="large-12 columns show-for-small hide-for-large">
      <h1>{{product_title}}</h1>
      <h3 id='price'>
        {{#each product_variations}}
          {{#if @first}}
            {{#if on_sale}}
              <span class="strike-through">{{format_currency price "usd"}}</span>
              {{format_currency sale_price "usd"}}
            {{else}}
              {{format_currency price "usd"}}
            {{/if}}
          {{/if}}
        {{/each}}
      </h3>
    </div>
    <div class="large-6 columns">
      <div class="product-image">
        <img src="{{#each fields.product_image_temp}}{{url}}{{/each}}" alt="{{product_title}}" alt="{{product_title}}">
      </div>
    </div>
    <div class="large-6 columns">
      <h1 class="show-for-large">{{product_title}}</h1>
      <h3 class="notranslate show-for-large" id='price'>
        {{#each product_variations}}
          {{#if @first}}
            {{#if on_sale}}
              <span class="strike-through">{{format_currency price "usd"}}</span>
              {{format_currency sale_price "usd"}}
            {{else}}
              {{format_currency price "usd"}}
            {{/if}}
          {{/if}}
        {{/each}}
      </h3>
      
      <ul class="product-variations-list" id="product_variation_label_item" data-aeroproduct-option-name="Title">
        {{#each product_variations}}
        <li 
          class="{{#if in_stock}}{{else}}disabled{{/if}}"
          data-vtitle="{{product_variation_title}}" 
          data-vid="{{id}}" 
          data-vprice="
            {{#if on_sale}}
              {{sale_price.usd}}
            {{else}}
              {{price.usd}}
            {{/if}}
          ">
          {{product_variation_title}}
        </li>
        {{/each}}
      </ul>

      <div class="add-to-cart-button-container">
        <button 
        id="add_to_cart_list" 
        class="button-add-to-cart add-to-cart" 
        data-aeroproduct-title="{{product_title}}" 
        data-aeroproduct-variation-title="" 
        data-aeroproduct-variation-id="" 
        data-aeroproduct-id="{{id}}" 
        data-aeroproduct-price="" 
        data-aeroproduct-quantity="1" 
        data-aeroproduct-currency="usd">
        <span>Add to Cart</span>
        </button>
        <!-- <span class="airshop-status"></span> -->
      </div>

      <p>
        {{#each product_variations}}
          {{#if @first}}
            {{product_variation_description}}
          {{/if}}
        {{/each}}
      </p>
    </div>
  </div>
</div>