<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>doodlipoop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQuery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    
  </head>
  <body>

    <header>
      <div class="top-bar">
        <div class="top-bar-title">
          <h2>
            <a href="/">
              <span class="title">
                Doodlipoop
              </span>
            </a>
          </h2>
          <span class="mobile-menu-button hide-for-large" data-responsive-toggle="responsive-menu" data-hide-for="large">
            <button class="menu-icon" type="button" data-toggle></button>
          </span>
        </div><!--top-bar-title-->

        <div id="responsive-menu" class="hide-for-large clearfix">
          <div class="top-bar-right">
            <ul class="accordion menu" data-accordion-menu>
              <li class="nav-home">
                <a href="/">Home</a>
              </li>
              <li class="nav-stickers">
                <a href="/stickers">Stickers</a>
              </li>
              <li class="nav-cart">
                <a class="cart-summary aerocart_button" href="/cart"></a><a class="cart-text" href="/cart">View Your Cart</a>
              </li>
            </ul>
          </div>
        </div><!--#responsive-menu-->

        <div id="desktop-menu" class="show-for-large clearfix">
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="nav-home">
                <a href="/">Home</a>
              </li>
              <li class="nav-stickers">
                <a href="/stickers">Stickers</a>
              </li>
              <li class="nav-cart">
                <a class="cart-summary aerocart_button" href="/cart"></a><a class="cart-text" href="/cart">View Your Cart</a>
              </li>
            </ul>
          </div>
        </div><!--#desktop-menu-->
        <div class="nav-status">
          <span class="airshop-status-container">
            <span class="airshop-status"></span>
          </span>
        </div>
      </div><!--top-bar-->
    </header>

    {{{ template }}}

    <script src="/assets/scripts/variation_selection.js"></script>
    <script src="/assets/scripts/airshop_add_to_cart_button.js"></script>
    <script src="/assets/scripts/aerocart_button.js"></script>

    <!-- Foundation -->
    <script src="/assets/scripts/jquery.js"></script>
    <script src="/assets/scripts/what-input.js"></script>
    <script src="/assets/scripts/foundation.js"></script>
    <script src="/assets/scripts/app.js"></script>
    </body>
</html>