<!DOCTYPE html>
  <html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>naturally good shit</title>

    <script src="https://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css">
  </head>
  <body>
  <header class="header-container container">
    <div class="block header-block">
      <h1>naturally good shit</h1>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/stickers">stickers</a></li>
          <li class='nav-cart'>
            <a class="cart-text" href="/cart">cart </a>
            <a class="cart-summary aerocart_button" href="/cart"></a>
            <!-- <span class="airshop-status-container">
              <span class="airshop-status"></span>
            </span> -->
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {{{template}}}

    {{{ template }}}

    <script src='/assets/scripts/what-input.min.js'></script>
    <script src='/assets/scripts/foundation.js'></script>
    <script type="text/javascript" src='/assets/scripts/app.js'></script>

    <!-- cart & checkout -->
    <script src="/assets/scripts/variation_selection.js"></script>
    <script src="/assets/scripts/airshop_add_to_cart_button.js"></script>
    <script src="/assets/scripts/aerocart_button.js"></script>
  </body>
</html>
