// Typography

h5.checkout-header{
  color: $checkout-header;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 15px 10px;

  @include breakpoint(medium){
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 10px;
  }

  .checkout-email &,
  .checkout-login &,
  .checkout-order &{
    position: relative;
    z-index: 100;
    
    label{
      color: $checkout-header;
      font-size: 11px;
    }
  }

  button.clear-all-button{
    background-color: transparent;
    color: $checkout-gray;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 1px;
    letter-spacing: 1px;
    line-height: 12px;
    float: right;
    height: auto;
    padding: 0;
    width: auto;
    transition: none;

    &:hover,
    &:focus{
      color: #D44C08;
      outline: none;
      transition: none;
    }
  }
}

.checkout-container label{
  color: $checkout-label;
  font-size: 12px;
}

.checkout-container p{
  font-size: 12px;
  line-height: 17px;
  color: $checkout-text;
  padding-bottom: 1rem;

  &.alert{
    color: $checkout-alert;
  }
}

.checkout-container .checkout-disclaimer p{
  margin-top: 1rem;
  padding-bottom: 0;
}

.checkout-container p label{
  color: $checkout-header;
  &:hover{
    cursor: pointer;
  }
}

ul.checkout-cart-summary,
div.checkout-shipping-cost{
  margin-left: 0;
  margin-bottom: 0;

  li.cart-item-list{
    font-size: 12px;
    line-height: 12px;
    color: $checkout-text;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid $border-color;

    &.checkout-summary-subtotal,
    &.checkout-summary-total{
      border-top: 1px solid $checkout-border;
      // margin-top: 10px;
      // padding-top: 10px;
    }

    &.checkout-summary-total{
      position: relative;

      .checkout-cart-item-title,
      .checkout-cart-item-cost{
        font-weight: 600;
        color: $checkout-text;
      }
    }
  }
}

div.checkout-shipping-cost{
  margin-bottom: 20px;
}

// Typography within .cart-item-list

  span.checkout-cart-item-title{
    flex: 0 0 70%;
    display: block;
    font-size: 15px;
    line-height: 20px;

    p, h2{
      padding:0;
      margin:0;
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      display: inline;
    }

    h2{
      font-weight: 600;
    }
  }

  span.checkout-cart-item-quantity{
    flex: 0 0 10%;
    display: block;
    font-size: 15px;
    line-height: 20px;
  }

  span.checkout-cart-item-cost{
    flex: 0 0 20%;
    display: block;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
  }

  span.checkout-cart-item-currency{
    position: absolute;
    right:0;
    top: 24px;
    font-size: 8px;
    line-height: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }

.checkout-container{
  background-color: $checkout-background-white;
  border-top: 0;

  display: flex;
  flex-flow: row wrap;

  @include breakpoint(medium){
    display: flex;
    flex-flow: row nowrap;
  }
}

.checkout-sidebar{
  display: none;

  @include breakpoint(medium){
    z-index: 100;
    position: relative;

    display: block;
    flex: 0 0 33.4%;
    order: 2;
  }
}

.checkout-mini-summary{
  display: block;
  
  @include breakpoint(medium){
    display: none;
  }

  .checkout-header{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
  }

    .mini-summary-left{
      flex: 1 0 auto;
      background-color: $checkout-header;
      color: $checkout-background-white;

      span{
        display: block;
        padding: 15px 10px;
        font-size: 10px;
        font-weight: 700;
        line-height: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }

    .mini-summary-right{
      flex: 0 0 auto;
      background-color: $checkout-header;
      display: block;
      color: lighten($checkout-header, 30%);

      &:hover{
        cursor: pointer;

        span{
          color: $checkout-background-white;
          transition: all 0.2s ease;
        }
      }

      span{
        font-size: 10px;
        line-height: 10px;
        display: block;
        padding: 15px 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.2s ease;
      }
    }

  .checkout-mini-summary-contents{
    // display: none;

    overflow: hidden;
    max-height: 0;
    transition: max-height 1.2s ease, padding 0.2s linear 0.5s; 

    padding: 0 10px 0;
    // height: 0;
    background-color: $checkout-background-white;
    box-shadow: 0 0 3px 0 rgba(0,0,0, 0.5) inset;

    &.hide-mini-details{
    }

    &.show-mini-details{
      // display: block;
      max-height: 2000px;
      padding: 15px 10px 20px;
      // height: auto;
      transition: max-height 0.7s ease, padding 0.2s linear; 
    }
  }

  .checkout-shipping-cost{
    margin-bottom: 10px;
  }

  .checkout-order-notes input{
    margin-bottom: 0;
  }

  .hide-mini-details-button{
    span{
      color: $checkout-gray;
      display: block;
      text-align: center;
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 15px;
      
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.checkout-email,
.checkout-login,
.checkout-order,
.checkout-shipping,
.checkout-billing,
.checkout-credit-card,
.checkout-pay{
  padding: 0 10px 0; 

  @include breakpoint(medium){
    padding: 20px;
  }
}

.checkout-credit-card,
.checkout-pay{
  @include breakpoint(large){
    margin-top: 20px;
  }
}

.checkout-email,
.checkout-login,
.checkout-order{
  background-color: $checkout-background-gray;
  position: relative;
}

// Checkout Order
.checkout-order{
  order:1;
  flex: 0 0 100%;
  overflow: hidden;
  height: auto;
  transition: height 0.5s ease;
  background-color: $checkout-background-white;

  @include breakpoint(medium){
    height: auto;
    transition: height 0.5s ease;
  }
}

// Left & Center Columns
.checkout-main{
  background-color: $checkout-background-gray;
  z-index: 200;
  position: relative;

  flex: 0 0 100%;
  order: 1;

  @include breakpoint(medium){
    flex: 0 0 66.6%;
    order: 1;
  }
}

// Left Column, Top
.checkout-email{
  background-color: $checkout-background-gray;
  position: relative;
  padding: 0 10px 20px; 
  border-top: 0px solid transparent;
  border-bottom: 1px solid $checkout-border;
  z-index: 300;
  
  @include breakpoint(medium){
    z-index: 500;
    background-color: transparent;
    border-top:0;
    width: 50%;
    float: left;
    position: absolute;
    border-right: 1px solid transparent;
    border-bottom: 1px solid $checkout-border;
    padding: 20px;
    // hack to get email to appear above this section.
    // this makes it *on top* of the shipping section, and shipping just has a huge padding.
    padding-top: 20px !important;
    padding-bottom: 20px;
  }

  input{
    margin-bottom: 10px;
  }

  p.mobile-login-shortcut{
    @include breakpoint(medium){
      display: none;
    }
  }
}

// Left and Center Columns
.checkout-shipping-billing{
  z-index: 400;
  position: relative;

  @include breakpoint(medium){
    background-color: transparent;
    border-right: 1px solid $checkout-border;
    display: flex;
    flex-flow: row nowrap;
  }
}

// Left Column
.checkout-shipping{
  padding-bottom:0;
  background-color: $checkout-background-gray;

  @include breakpoint(medium){
    flex: 0 0 50%;

    // hack to get email to appear above this section.
    margin-top: 133px; 
  }
}

// Center Column
.checkout-billing-credit-card-pay{
  background-color: $checkout-background-gray;
  border-top: 1px solid $checkout-border;

  @include breakpoint(medium){
    border-top: 0;
    border-left: 1px solid $checkout-border;
    flex: 0 0 50%;
  }
}

.checkout-billing{
  padding-bottom: 0;
}

.checkout-credit-card{
  padding-top: 0;
  padding-bottom: 10px;
  border-top: 1px solid $checkout-border;

  @include breakpoint(medium){
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.checkout-pay{
  padding-bottom: 30px;
  padding-top: 30px;

  @include breakpoint(medium){
    padding-bottom: 0;
    padding-top: 15px;
    border-top: 1px solid $checkout-border;
  }

  input,
  button{
    display: block;
    width: 100%;

    @include breakpoint(medium){
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }

  input[disabled],
  .button.disabled{
    opacity: 0.25;
    background-color: $checkout-gray;

    @include breakpoint(medium){
      margin-top: 5px;
      margin-bottom: 20px;
    }

    &:hover{
      opacity: 0.25;
      border:0;
      background-color: $checkout-gray;
      cursor: default;
    }

    &:focus{
      outline: none;
    }
  }

  .valid-pay-button{

    &.form-submitted{

      &:hover{
        cursor: default;
      }
    }
  }

  .button-text{
    color: white;
    font-weight: 600;
  }
}

button#recalculate-shipping-button{
  background-color: $checkout-gray;
  border-radius: 2px;
  font-size: 11px;
  color: #FFF;
  padding: 8px;
  transition: all 0.2s ease;
  margin-bottom: 20px;
  margin-top: 20px;
  width: auto;
  height: auto;

  &:hover,
  &:focus{
    outline: none;
    background-color: $checkout-header;
    transition: all 0.2s ease;
  }
}

span.mobile-shipping-total{
  display: block;
  color: $checkout-gray;
  font-size: 12px;
  margin-bottom: 1rem;
  
  @include breakpoint(medium){
    display: none;
  }
}

span.shipping-message{
  font-size: 12px;
  padding-bottom: 10px;
  display: block;
  margin-top: 20px;

  &.shipping-calculation-error,
  &.shipping-incomplete{
    color: $checkout-alert;
  }

  &.shipping-calculating{
    color: $checkout-gray;
  }

  &.shipping-calculated{
    color: $checkout-header;
  }
}

// NOT SURE WHY THERE ARE NO STYLES UP THERES

.select-container select{
  background-color: white;
}

ul.price-list{
  margin:0;
  padding:0;  
}

.inline-checkbox{
  input[type="checkbox"], input[type="radio"]{
    width: 20px;
    height: 20px;
    transform: translateY(18px);
  }
}

// OVERRIDES

.checkout-area{
  > h1{
    text-align: center;
    padding: 10px 0;
    margin:0;
    background-color: $checkout-background-gray;
    border-bottom: 1px solid $checkout-border;
    color: $hic-blue;

    @include breakpoint(large){
      padding: 10px 0 15px;
    }

    @include breakpoint(large){
      padding: 20px 0 25px;
    }
  }
}

// HACKY. ACTUALLY REMOVE FROM MARKUP:
.try-on-at-home,
.checkout-disclaimer{
  display: none;
}