// PRODUCT
.product{
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include breakpoint(large){
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.product-image{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $medium-gray;
  padding: 1rem;

  @include breakpoint(large){
    margin-top: 10px;
    margin-bottom: 0;
  }

  img{
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: auto;

    @include breakpoint(large){
      max-width: 100%;
      max-height: 500px;
    }
  }
}

.product h1{
  text-align: center;

  @include breakpoint(large){
    text-align: left;
  }
}

.product h3{
  text-align: center;

  @include breakpoint(large){
    text-align: left;
    margin-bottom: 1rem;
  }
}

.product p{ 
  font-size: 14px;
  margin-left: 16px;
  margin-right: 16px;

  @include breakpoint(large){
    margin-right: 0;
    margin-left: 0;
  }
}

// PRODUCT VARIATIONS
// AS A LIST
ul.product-variations-list{
  display: flex;
  flex-flow: row nowrap;
  transition: all 0.2s ease;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: flex-end;
  text-align: center;

  li{
    margin-left: 5px;
    font-size: 12px;
    line-height: 14px;
    list-style-type: none;
    background-color: $white;
    border: 1px solid $medium-gray;
    transition: all 0.2s ease;

    // Has Background Image
    flex: 1 0 23%;
    height: 98px;
    background-size: 70px auto;
    background-position: center 5px;
    background-repeat: no-repeat;
    padding-top: 65px;

    &:hover,
    &.active{
      transition: all 0.2s ease;
      cursor: pointer;
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.35);
    }
    
    &:first-child{
      margin-left:0;

      @include breakpoint(large){
        padding-left:0;
      }
    }

    &.disabled{
      opacity: 0.4;
      background-color: $medium-gray;

      &:hover{
        cursor: default;
        background-color: $medium-gray;
        border: 1px solid transparent;
        box-shadow: none;
      }
    }
  }
}

.add-to-cart-button-container{
  padding: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 82px;

  button{
    flex: 0 0 100%;
    padding: 1.2rem 0;
    background-color: $hic-blue;
    transition: all 0.2s ease;

    &:hover,
    &.active,
    &:focus,
    &:visited,
    &:active{
      padding: 1.2rem 0;
      background-color: darken($hic-blue, 10%);
      transition: all 0.2s ease;
    }

    &.button-disabled{
      background-color: $light-gray;
      color: $medium-gray;

      &:hover{
        opacity: 1;
        cursor: default;
      }
    }

    &.button-added-to-cart{
      background-color: $light-gray;
      transition: all 0.2s ease;
      
      &:hover{
        opacity: 1;
        cursor: default;
      }
      
      span{

        &:before{
          content: " ";
          border-right: 2px solid $white;
          border-bottom: 2px solid $white;
          display: inline-block;
          width: 5px;
          height: 10px;
          transform: rotate(45deg);
          margin-right: 8px;
        }
      }
    }

    span{
      color: $white;
      font-size: 14px;
    }
  }
}