// Site Colors

$teal: #35A4A3;
$blue: #8BC8EB;
$gray-blue: #7292A8;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #454545;
$black: #0a0a0a;
$white: #fefefe;

$green: #90a52d; // checkout

// Foundation Colors
$foundation-primary: #2199e8;
$foundation-secondary: #777;
$foundation-success: #3adb76;
$foundation-warning: #ffae00;
$foundation-alert: #ec5840;