.products{
  padding-top: 1rem;
  // background-color: pink;
  display: flex;
  flex-flow: row wrap;

  @include breakpoint(large){
    padding-top: 3rem;
  }
}

a.product-thumbnail{
  // background-color: orange;
  border: 1px solid $medium-gray;
  padding: 1rem;
  flex: 0 0 100%;

  &:hover{
    border: 1px solid purple;
  }

  @include breakpoint(medium){
    flex: 0 0 48%;
  }

  @include breakpoint(large){
    flex: 0 0 32%;
  }
}

.product-thumbnail-image{
  // background-color: blue;
  max-height: 100%;
  max-height: 100%;
}

.product-thumbnail-info{
  // background-color: green;

  h2{
    padding-top: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }

  p{
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }
}