// CART
.cart{
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include breakpoint(large){
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.cart h1{
  text-align: center;
}

// Custom Select

.select{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0;
  overflow: hidden; 
  text-shadow: none;

  // Cart Select Styles
  background-color: transparent;
  color: $cart-text-color;
  border: 1px solid $cart-line-color;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-image: url('/assets/media/arrow.svg');
  background-position: 85px 13px;
  background-size: 8px auto;
  background-repeat: no-repeat;

  @include breakpoint(medium){
    background-position: 34px 13px;
  }

  &:hover{
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);

    // &:before{
    //   @include breakpoint(medium){
    //     border-right-color: $dark-gray;
    //     border-bottom-color: $dark-gray;
    //   }
    // }
  }


  &:before{
    // @include cart-paragraph;
    content: "Qty: ";
    font-weight: bold;
    display: inline-block;

    padding-left: 0.5rem;
    font-size: $cart-text-size-small*1.1;
    
    @include breakpoint(medium){
      font-size: $cart-text-size-large*1.25;
      // content: " ";
      // font-weight: normal;
      // padding-left: 0;

      // display: block;
      // width: 0;
      // height: 0;
      // border-right: 3px solid $medium-gray;
      // border-bottom: 3px solid $medium-gray;
      // border-left: 3px solid transparent;
      // border-top: 3px solid transparent;
      // position: absolute;
      // transform: translateY(0) translateX(0) rotate(45deg);
      // right: 7px;
      // top: 10px;

      display: none;
    }
  }

  select{
    
    display: inline-block;
    // @include cart-paragraph;
    cursor: pointer;
    border: none; 
    border-radius:0;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;

    // padding: 0.35rem 0.5rem 0.4rem 2rem;
    // margin-left: -2rem;
    font-size: $cart-text-size-small*1.1;
    line-height: $cart-text-line-height-small;
    font-weight: bold;
    font-style: normal;
    width: 4rem;
    height: 2rem;
    margin-bottom: 0;

    // Mozilla Hack
    text-indent: 0.01px;
    text-overflow: '';

    &:hover{
      outline: none;
    }
    
    @include breakpoint(medium){
      // @include cart-subtitle;
      display: inline-block;
      font-size: $cart-text-size-large*1.25;
      line-height: $cart-text-line-height-large;
      padding: 0.35rem 0.5rem;
      margin-left: 0;
      width: 3rem;
      height: 2rem;
    }

    // @include breakpoint(medium){
    //   width: 4rem;
    // }
    
    &:focus{
      outline: none;
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
  }
}


// General Cart Styles

ul.cart-items{
  padding:0;
  margin:0;
  list-style-type: none;
  border-top: 1px solid $medium-gray;

  li.cart-item{
    list-style-type: none;
    padding:0;
    margin:0;
  }
}

.cart-item-content{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // margin-bottom: 1rem;
  border-bottom: 1px solid $cart-line-color;
}

// Cart Item Thumbnail Image

.cart-item-thumbnail{

  display: none;
  // flex: 0 0 75px;
  // height: 75px;
  // margin: auto;

  // @include breakpoint(large){
  //   flex: 0 0 65px;
  //   height: 65px;

  // }

  // a{
  //   display: block;
  //   position: relative;
  //   width: 75px;
  //   height: 75px;
  //   // border: 1px solid $truffaux-light-gray;

  //   @include breakpoint(large){
  //     width: 65px;
  //     height: 65px;
  //   }
  // }

  // a:hover img{
  //   opacity: 0.7;
  //   transition: all 0.2s ease;
  // }

  // img{
  //   display: block;
  //   opacity: 1;
  //   transition: all 0.2s ease;

  //   font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  //   font-size: 11.5px;
  //   line-height: 16px;
  //   margin: auto;
  //   overflow: hidden;
  //   text-align: left;
  //   top: 50%;
  //   position: absolute;
  //   transform: translateY(-50%);
  //   // color: $truffaux-white;
  //   max-width: 100%;
  //   max-height: 100%;
  //   border: 0;

  //   @include breakpoint(large){
  //     max-width: 100%;
  //     max-height: 100%;
  //   }
  // }
}


// Cart Item Details Block

.cart-item-details{
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @include breakpoint(medium){
    flex-flow: row nowrap;
    padding-left: 0;
    padding-right: 0.5rem;
  }

  // @include breakpoint(medium){
  //   padding-right: 2rem;
  // }
}

// Cart Item Price Block

h4.cart-item-price,
h4.amount,
h4.amount.cart-subtotal-amount{
  flex: 0 1 80px;

  @include breakpoint(medium){
    flex: 0 1 95px;
  }
}

h4.cart-item-price,
h4.amount{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 10px;

  // @include cart-paragraph;
  font-size: $cart-text-size-small*1.1;
  font-weight: bold;
  // padding-bottom: 0.4rem;

  @include breakpoint(medium){
    font-size: $cart-text-size-large*1.25;
    margin: auto;
    padding-bottom: 0;
    padding-right: 1.5rem;

    // @include cart-subtitle;
  }
}

// Cart Item Delete Icon

.cart-item-delete{
  line-height: 20px;
  height: 30px;
  width: 17px;
  font-size: 10px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;

  span{
    display: block;
    width: 100%;
    text-align: right;
    color: transparent;

    &:before{
      content: " ";
      width: 16px;
      height: 1px;
      display: block;
      border-top: 1px solid darken($cart-line-color, 10%);
      transition: all 0.2s ease;
      transform: rotate(45deg) translateX(12px) translateY(9px);
    }

    &:after{
      content: " ";
      width: 16px;
      height: 1px;
      display: block;
      border-top: 1px solid darken($cart-line-color, 10%);
      transition: all 0.2s ease;
      transform: rotate(-45deg) translateX(6px) translateY(-3px);
    }
  }
  
  &:hover{
    span{
      &:before{
        border-top: 1px solid $cart-delete-color;
        transition: all 0.2s ease;
      }

      &:after{
        border-top: 1px solid $cart-delete-color;
        transition: all 0.2s ease;
      }
    }
  }

  @include breakpoint(medium){
    display: flex;
    margin: auto;
    position: relative;
    top: auto;
    right: auto;
  }
}

// Cart Item Details Block
// Item Title, Description, Quantity

.cart-item-name{
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 0.25rem;

  @include breakpoint(medium){
    margin: auto;
    margin-right: 0.5rem;
  }
}

h3.cart-item-title{
  margin-bottom: 2px;
}

h3.cart-item-title a{
  // @include cart-title;
  display: block;
  font-size: $cart-title-size-small;
  color: $cart-highlight-color;
  opacity: 1;
  transition: all 0.2s ease;

  &:hover{
    opacity: 0.7;
    transition: all 0.2s ease;
  }

  @include breakpoint(medium){
    font-size: $cart-title-size-large;
  }
}

.cart-item-name p{
  // @include cart-paragraph;
  display: block;
  // font-size: $cart-text-size-small;
  color: lighten($cart-text-color, 15%);
  line-height: $cart-text-line-height-small;
  text-align: left;
  width: 100%;
  max-width: none;

  @include breakpoint(medium){
    margin-bottom: 0;
    font-size: $cart-text-size-large*1.25; 
    line-height: $cart-text-line-height-large;
  }
}

.cart-item-quantity{
  flex: 0 1 auto;
  flex-flow: column nowrap;

  @include breakpoint(medium){
    margin: auto;
  }
}

// Cart Subtotal Line

li.cart-subtotal-wrapper{
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid $cart-line-color;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;

  @include breakpoint(medium){
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

h3.cart-subtotal-label{
  // @include cart-paragraph;
  flex: 1 1 auto;
  text-align: left;
  padding: 0 0.5rem 0 0;
  padding-right: 0.5rem;
  font-size: $cart-text-size-small;
  font-weight: bold;
  margin-top: 0;

  @include breakpoint(medium){
    // @include cart-subtitle;
    text-align: right;
    padding: 1.5rem 0.5rem 1.5rem 0;
  }
  
  // @include breakpoint(medium){
  //   padding-right: 2rem;
  // }
}

// Override
h3.cart-subtotal-label,
.content h3.cart-subtotal-label{
  flex: 1 1 auto;
  text-align: left;
  padding: 0 0.5rem 0 0;
  padding-right: 0.5rem;
  font-size: $cart-text-size-small*1.1;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint(medium){
    // @include cart-subtitle;
    text-align: right;
    padding: 1.5rem 0.5rem 1.5rem 0;
  }
}

h4.amount.cart-subtotal-amount{
  display: block;
  text-align: right;

  @include breakpoint(medium){
    margin-right: 1rem;
    padding-right: 0;
    display: flex;
  }
}

span.cart-subtotal-currency{
  font-size: 9px;
  line-height: 10px;
  display: block;
  font-weight: normal;
  margin-top: 2px;

  @include breakpoint(medium){
    margin-top: 0;
    width: 1.5rem;
    font-size: 11px;
    text-align: left;
    padding-left: 3px;
    position: relative;
    color: lighten($cart-text-color, 20%);
    transform: translateY(-4px);

    // &:after{
    //   content: " ";
    //   display: block;
    //   position: absolute;
    //   width: 18px;
    //   height: 0;
    //   border-bottom: 1px solid $cart-line-color;
    //   top: 9px;
    //   left: 3px;
    // }
  }
}

.block-cart li.empty-cart{
  // @include italic-font(18px);
}

// Order Notes & Checkout Buttons

.cart-buttons{
  display: flex;
  flex-flow: row wrap;

  @include breakpoint(medium){
    justify-content: space-between;
  }
}

.cart-buttons-left{
  flex: 0 0 100%;

  @include breakpoint(medium){
    flex: 1 1 auto;
  }
}

.order-notes-container{
  margin-bottom: 1rem;

  @include breakpoint(large){
    padding-right: 1rem;
  }

  h1{
    // @include cart-paragraph;
    height: 1rem;
    line-height: 1rem;
    font-size: $cart-text-size-small;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2px;

    @include breakpoint(medium){
      // @include cart-subtitle;
      // margin-bottom: 0;
    }
  }

  textarea{
    // @include cart-paragraph;
    font-size: $cart-text-size-small*1.1;
    font-style: normal;
    width: 100%;
    padding: 0.5rem;
    resize: none;
    border-color: $cart-line-color;
    height: 88px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    margin-bottom: 0;

    &:focus,
    &:hover{
      outline: none;
      box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);
    }

    @include breakpoint(medium){
      font-size: $cart-text-size-large*1.25;
    }
  }
}

.cart-buttons-right{
  flex: 0 0 100%;
  // display: flex;
  // flex-flow: row nowrap;

  @include breakpoint(medium){
    flex: 0 0 100%;
    // margin-top: 1.9rem;
  }

  @include breakpoint(large){
    flex: 0 0 33%;
    margin-top: 2.8rem;
  }
  // @include breakpoint(medium){
  //   flex: 0 0 209px;
  // }
}

.cart-buttons .pay-button{
  display: block;
  // height: 3.25rem;
  // background-color: pink;
  // align-items: flex-end;
  // margin-top: 4px;
  // margin-bottom: 0.5rem;

  @include breakpoint(medium){
    align-items: flex-end;
    display: block;
    height: auto;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.cart-buttons .pay-button button{
  padding:0;
  border:0;
  width: 100%;
  height: auto;
  display: block;
  background-color: transparent;

  &:focus{
    outline: none;
  }

  a{
    background-color: $cart-highlight-color;
    width: 100%;
    display: block;
    padding: 0.9rem 0;
    transition: all 0.15s ease;

    &:hover{
      transition: all 0.15s ease;
      background-color: darken($website-primary-color, 10%);
    }
  
    span.secure{
      margin-right: 5px;
      display: inline-block;
      position: absolute;

      svg{
        g{
          fill: white;
        }
      }
    }
    
    span.button-text{
      line-height: auto;
      color: $white;
      padding-left: 17px;
      font-size: $cart-text-size-small*1.1;

      @include breakpoint(medium){
        font-size: $cart-text-size-large*1.25;
      }
    }
  }
}

// Unstyled Text Buttons
.button-text{
  // @include cart-paragraph;
  border:0;
  border-radius: 0;
  padding:0;
  background-color: transparent;
  margin-right: 0.5rem;
  color: $white;
  transition: all 0.2s ease;
  text-transform: capitalize;

  font-size: $cart-text-size-small*1.1;

  @include breakpoint(medium){
    font-size: $cart-text-size-large*1.25;
  }

  &:hover{
    cursor: pointer;
    color: $white;
    transition: all 0.2s ease;
  }

  &:focus{
    outline: none;
  }

  a{
    transition: all 0.2s ease;
    color: $white;

    &:hover{
      color: $white;
      transition: all 0.2s ease;
    }
  }
}

// SHOPPING CART OVERRIDES
.shopping-cart-area{
  padding: 10px;

  @include breakpoint(medium) {
    padding : 10px 40px 40px;
  }

  @include breakpoint(large) {
    padding : 40px 0 80px;
  }

  > h1{
    padding: 0;
    margin: 0;
    text-align: center;
    color: $website-primary-color;
  }
}

li.cart-subtotal-wrapper{
  padding-top: 30px;

  @include breakpoint(medium) {
    padding-top: 0;
  }
}

.other-buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  flex: 0 0 100%;

  border-top: 1px solid $medium-gray;
  margin-top: 20px;
  padding-top: 35px;


  @include breakpoint(medium){
    // margin-right: -1%;
  }

  @include breakpoint(large){
    flex: 0 0 100%;

    border-top: none;
    margin-top: 0;
    padding-top: 0;
    justify-content: flex-start;
  }

  button, .button{

    flex: 0 0 48%;

    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    // margin-right: 0.5rem;
    color: #bdbdbd;
    transition: all 0.2s ease;

    background-color: #CCC;
    color: white;
    // text-transform: uppercase;
    // font-family: "Lato", Helvetica, Arial, sans-serif;
    // border-radius: 2px;
    // width: 150px;
    // height: 50px;
    transition: 0.5s;
    margin-bottom: 0;
    padding: 0.9rem 1rem;
    margin-right: 0;
    // line-height: 50px;

    // text-transform: capitalize;

    font-size: $cart-text-size-small*1.1;

    @include breakpoint(medium){
      font-size: $cart-text-size-large*1.25;
    }

    @include breakpoint(large){
      flex: 0 0 200px;
      margin-right: 1rem;
    }

    &:hover{
      cursor: pointer;
      background-color: $website-primary-color;
      transition: all 0.2s ease;
    }

    a{
      color: white;
    }
  }
}