.line-right{
  @include breakpoint(large) {
    border-right: 1px solid $border-color;
  }
}

.banner-logo {
  display: block;
  @include breakpoint(medium) {

  }

  @include breakpoint(large) {
  }
}

.featured-surfboards{
  
  @include breakpoint(medium) {
  
  }
  
  @include breakpoint(medium large) {
    border-bottom: 1px solid $border-color;
  }

  @include breakpoint(large) {
    padding-bottom: 80px;
    padding-top: 30px;
    text-align: center;
  }
}

.featured-surfboards .surfboards-row{
  @include breakpoint(medium) {
    margin-bottom: 40px;
  
  }
  
  @include breakpoint(large) {
    margin-bottom: 0;
  }
}

.featured-surfboards .surfboards-column{

  &:nth-of-type(5n){
    display: none;
  }

  @include breakpoint(large) {
    padding-top:0;
    &:nth-of-type(5n){
      display: flex;
    }
  }
}

.contact,
.social-media{

  padding: 20px;

  @include breakpoint(medium) {
    padding-left: 20px;
    padding-bottom: 20px;
  }

  @include breakpoint(large) {
    padding: 60px 0 0 60px;
  }
}

.homepage-text{
  padding: 20px 20px 25px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @include breakpoint(medium) {
    padding-bottom: 40px;
    border-top: 0;
  }

  @include breakpoint(large) {
    padding: 60px 0 80px;
    border-bottom:0;
  }
}
