// CONTENT CONTAINER

.content-container {
  border-top: 1px solid $border-color;

  &.homepage{
    border: none;
  }

  &.product {
    padding-top: 0;
    border-top: 0;
    padding-bottom: 20px;

    @include breakpoint(medium) {
      // margin-left: 50px;
      // margin-right: 50px;
      padding:0;
      margin:0;
      padding-bottom: 40px;
    }

    @include breakpoint(large){
      border-top: 1px solid $border-color;
      padding-bottom: 40px;
    }
  }
}

// CONTENT

.content{

  @include breakpoint(large) {
    margin-right: 50px;
    margin-left: 50px;
  }

  &.generic{
    
    @include breakpoint(large) {
      padding: 50px 0 0px 0;
    }
  }

  &.collection {
    position: relative;
    padding: 0;
    margin: 0;
  }

  &.product {
    @include breakpoint(medium) {
      // padding: 50px;
      padding:0;
      margin:0;
    }

    @include breakpoint(large) {
      // padding: 50px;
      padding:0 20px;
      margin:0;
    }
  }
  
  &.content-checkout{
    @include breakpoint(large) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// PAGE HEADER

.page-header {
  border-bottom: 1px solid $border-color;
  padding: 30px;
  
  @include breakpoint(large) {
    border: none;
    padding: 50px;
  }
}

// BORDER

.border {
  margin: 0 auto 45px;
  @include breakpoint(large) {

    border-bottom: 1px solid $border-color;
    width: 250px;
  }
}

.generic-body{
  padding: 0 20px;

  @include breakpoint(medium) {
    padding: 0 40px;
  }

  @include breakpoint(large) {
    padding: 0;
  }
}