.surfboards-row{
  padding: 0;
  border-top: 5px solid #888888;

  @include breakpoint(medium) {
    padding: 60px auto 60px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 40px;
  }

  @include breakpoint(large) {
    padding: 80px auto 80px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 40px;
  }
}

.surfboard-category{
  padding: 17px 20px 25px;
  // border-top: 1px solid #C5C5C5;
  background-color: #FAFAFA;

  @include breakpoint(medium) {
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
  }
}

.surfboard-category h1{
  margin:0;
  margin-bottom: 5px;
  padding:0;
}

.surfboard-category h1,
.surfboard-category h4.surfboard-category-title{
  font-style: normal;
  color: #333;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
}

.surfboard-category p.surfboard-category-description{
  text-align: left;
}

.surfboards-column{
  border-bottom: 1px solid #C5C5C5;
  padding: 20px;

  @include breakpoint(medium){
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
  }
}

.surfboard{
  display: block;
}

.surfboard-thumbnail{
  width: 20%;
  float: left;
}

.surfboard-text{
  width: 80%;
  float: right;
  text-align: left;
  padding-left: 20px;

  @include breakpoint(medium){
    padding-left: 40px;
  }
}

.surfboard-text .button{
  height: auto;
  margin-top: 1rem;
}

.surfboard-category,
.surfboard-category h4,
.surfboard-category p,
.surfboard-text h3 span,
.surfboard-text h5.starting-at-price,
.surfboard-text p{
  
}

.surfboard-text h3{
  font-style: normal;
  color: #333;
  font-size: 24px;
  font-weight: 300;

  @include breakpoint(medium){
    font-size: 32px;
  }

  span{
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    font-family: $header-font-family;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #AAAAAA;
    color: $white;
    padding: 2px 5px;
    transform: translateY(-4px);
    margin-left: 5px;
  }
}

.surfboard-text p{
  white-space: pre-line;
}