// STANDARD NAV

.top-bar{
  // PLACEHOLDER
  // border: 1px solid red;
}

.top-bar-title{
  // PLACEHOLDER
  // border: 1px solid green;

  float: none;
  margin-right: 0;

  h1,h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
  }
  
  // IMAGE LOGO
  a{
    // SETTING - NAV SIZE
    height: 60px;
    background-image: url('/assets/media/hic-large-logo.svg');
    background-size: 250px auto;
    background-position: 10px center;

    display: block;
    background-repeat: no-repeat;

    @include breakpoint(large){
      // SETTING - NAV SIZE
      width: 340px;
      height: 70px;
      background-position: 50px center;
    }

    span{
      display: none;
    }
  }

  @include breakpoint(large){
    // SETTING - LOGO WIDTH
    width: 275px;

    float: left;
  }
}

.mobile-menu-button{
  // PLACEHOLDER
  // border: 1px solid orange;
  
  display: block;
  position: absolute;
  top: 0;
  right: 0;

  // SETTING - NAV HEIGHT, SHOULD MATCH LOGO
  height: 60px;

  // SETTING - ALIGNMENT OF MENU ICON, AFFECTED BY HEIGHT
  padding-top: 0.85rem;
  padding-bottom: 2.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  
  .menu-icon{
    &:after{
      background: $hic-blue;
      box-shadow: 0 7px 0 $hic-blue, 0 14px 0 $hic-blue;
    }
  }

  .menu-icon:hover{
    &:after{
      // SETTING - COLOR OF ICON ACTIVE/HOVER STATE
      background: darken($hic-blue, 20%);
      box-shadow: 0 7px 0 darken($hic-blue, 20%), 0 14px 0 darken($hic-blue, 20%);
    }
  }
}

#desktop-menu{
  padding: 0 50px 0 0;
}

#responsive-menu{
}

.top-bar-right{
}

.top-bar-right > .menu{
  @include breakpoint(large){
    // SETTING - MENU DISTANCE FROM TOP
    margin-top: 1rem;
  }
}

.top-bar-right > .menu > li{
  display: block;

  + li{
    // SETTING - COLOR OF MOBILE MENU DIVIDERS
    border-top: 1px solid $light-gray;
    
    @include breakpoint(large){
      border-top: 0;
    }
  }

  @include breakpoint(large){
    display: table-cell;
  }

  a{
    color: $hic-blue;

    &:focus{
      outline: none;
    }

    @include breakpoint(large){
      &:hover{
        // SETTING - COLOR OF LINK HOVERS
        color: darken($hic-blue, 20%);
      }
    }
  }

  &.active > a{
    font-weight: bold;
    background-color: transparent;
  }

  &.is-dropdown-submenu-parent > a{
    @include breakpoint(large){
      padding-right: 2rem;
    }
  }

  &.is-dropdown-submenu-parent > a::after{
    @include breakpoint(large){
      margin-top: -1px;
      right: 1rem;
    }
  }

  // LARGE DROPDOWN MENU
  ul.menu{
    @include breakpoint(large){
      // SETTING - COLOR OF DROPDOWN MENU BACKGROUND
      background-color: $white;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    }

    li {

      &.active a{
        font-weight: bold;
        background-color: $white;
      }

      a{

        @include breakpoint(large){
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}